/* 

Original CSS based upon mockups generated during the project planning stage.

 */

/* starting view a unified design for all screen sizes */
#start {
	height: 100%;
	width: 100%;
	padding-top: 70px;
	background: linear-gradient(to right, #2C4254 0%,#2C4254 50%,white 50%,white 100%);
	text-align: center;
}

/* ensures that the logo stays in the center of the page and does not stretch too wide on large displays */
#logo {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* based upon previously submitted mockups */
#startButton {
	color: #FFF;
	background: #43AFFA;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.8em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 4%;
	padding-left: 4%;
	border-radius: 0;
	border: none;
	outline: none;
	margin-top: 160px;
	cursor: pointer;
}

/* Psuedo classes provide user feedback for clicks/presses */
#startButton:hover {
	box-shadow: 2px 2px 5px #000;
}

#startButton:active {
	box-shadow: none;
}

/* user choice view will become a CSS grid through JavaScript DOM manipulation*/
#keywordChoice {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}

/* styles for elements within the user choice view */
#firstChoice {
	grid-area: firstChoice;
	align-self: center;
	font-family: 'Barlow', sans-serif;
}

#firstChoice > button {
	color: #000;
	border-bottom: 3px solid #2C4254;
}

#or {
	grid-area: or;
	align-self: center;
}

#or > h3 {
	background: #DFDFDF;
	color: #2C4254;
	display: inline-block;
	padding: 20px;
	padding-top: 13px;
	border-radius: 90px;
	font-family: 'Barlow', sans-serif;
	font-size: 2em;
}

#secondChoice {
	grid-area: secondChoice;
	align-self: center;
	font-family: 'Barlow', sans-serif;
}

#secondChoice > button {
	color: #FFF;
	border-bottom: 3px solid #43AFFA;
}

.choice-button {
	padding: 10px;
	background: transparent;
	font-size: 2.5em;
	outline: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	margin-bottom: 10px;
}

/* to preserve minimalistic button design, this psuedo class provides feedback */
.choice-button:hover {
	padding-right: 20px;
	padding-left: 20px;
}

/* media query for small screen sizes */
@media screen and (max-width: 750px) {
	#keywordChoice {
		background: linear-gradient(to top, #2C4254 0%,#2C4254 50%,white 50%,white 100%);
		grid-template-rows: 45% 10% 45%;
		grid-template-areas: 
			"firstChoice"
			"or"
			"secondChoice";
	}
}

/* media query for larger screen sizes, changes background orientation */
@media screen and (min-width: 751px) {
	#keywordChoice {
		background: linear-gradient(to left, #2C4254 0%,#2C4254 50%,white 50%,white 100%);
		grid-template-columns: 45% 10% 45%;
		grid-template-areas: 
			"firstChoice or secondChoice";
	}
}

/* hides the (empty) presentation until triggered via JavaScript */
.reveal {
	display: none;
}

/* customizes default styles from the Reveal JS library */
section > img {
	width: 400px;
}

.link-icon {
	height: 80px;
}

.restart-button {
	background: none!important;
	outline: none!important;
	outline: none!important;
	box-shadow: none!important;
}