* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 500px) {
	#create {
		font-size: 1em;
		padding: 10px;
		padding-left: 0;
		padding-right: 0;
		color: white;
		border-bottom: 3px solid #44BBFF;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;
		outline: none;
		margin-top: 5px;
	}

	#dropdownContent {
		margin-top: 10px;
	}

	#dropdownContent > button > img {
		padding-top: 10px;
		padding-left: 7px;
	}

	h1 {
		display: block!important;
	}

	header {
		padding-bottom: 30px;
		text-align: center;
	}

	.thumbnail {
		border-top: 3px solid #112233;
		border-bottom: 3px solid #112233;
		display: block;
		margin-bottom: 40px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
	}

	input {
		width: 60%;
		margin-top: 40px!important;
	}

	#galleryBuilder {
		display: none;
		position: fixed;
		top: 0;
		background: #44BBFF;
		height: 146px;
		width: 100%;
		text-align: center;
		z-index: 2;
	}
}

@media screen and (min-width: 501px) {
	#create {
		padding: 5px;
		color: white;
		border-bottom: 3px solid #44BBFF;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;
		outline: none;
		font-size: 1.4em;
	}

	#dropdownContent > button > img {
		padding-left: 10px;
	}

	#dropdown {
		float: right;
	}

	header {
		padding-bottom: 20px;
	}

	.thumbnail {
		border: 3px solid #112233;
		margin: 20px;
	}

	#galleryBuilder {
		display: none;
		position: fixed;
		top: 0;
		background: #44BBFF;
		height: 100px;
		width: 100%;
		text-align: center;
		z-index: 2;
	}

	h1 {
		margin-left: 2%;
	}

	#dropdown {
		position: relative;
		margin-right: 2%;
	}
}

body {
	font-family: 'Catamaran', sans-serif;
	background: #F0F1F5;
}

.container {
	display: grid;
	grid-template-rows: auto 1fr 70px;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

header {
	padding-top: 30px;
	background: #112233;
}

h1 {
	display: inline-block;
	color: #FC575E;
	font-family: 'Fjalla One', sans-serif;
}

#dropdown:hover #dropdownContent {
	display: block;
}

#dropdownContent {
	display: none;
	width: 100%;
	z-index: 1;
	position: absolute;
	background: #44BBFF;
}

#dropdownContent > button {
	padding: 10px;
	display: block;
	width: 100%;
	background: #44BBFF;
	color: #F0F1F5;
	border: none;
	outline: none;
	font-size: .8em;
}

#dropdownContent > button:hover {
	background: #66CC99;
}

button > img {
	vertical-align: middle;
}

main {
	grid-area: main;
	margin-top: 30px;
	text-align: center;
}

main > h2 {
	font-size: 2.3em;
	color: #112233;
}

#keyword {
	color: #FC575E;
}

#submit {
	background: #F0F1F5;
	padding: 4px;
	margin-left: 10px;
	outline: none;
	border: 1px solid #112233;
	box-shadow: 1px 1px 1px #112233;
}

#submit:active {
	box-shadow: none;
}

input {
	background: transparent;
	padding: 5px;
	margin-top: 25px;
	color: #F0F1F5;
	font-size: 2em;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #112233;
	outline: none;
}

footer {
	margin-top: 30px;
	margin-bottom: 70px;
	grid-area: footer;
	text-align: center;
	color: #112233;
}

a:visited {
	color: #FC575E;
}

button {
	cursor: pointer;
}

#lightbox {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background: black;
	padding: 0;
	display: none;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"."
		"image"
		".";
}

#centeredImage {
	grid-area: image;
	justify-self: center;
	text-align: center;
	padding: 0;
}

#centeredImage > img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}