* {
	padding: 0;
	margin: 0;
}

html, body {
	background: #F5F5F5;
}

@media screen and (min-width: 1269px) {
	.container {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-template-rows: auto 1fr 100px;
		grid-template-areas: 
			"header main"
			"header main"
			"header footer";
	}

	header {
		grid-area: header;
		align-self: center;
		text-align: center;
		height: 100vh;
		background: #432E41;
		color: #F5F5F5;
		padding-top: 100px;
		border-right: 4px solid #27D0B9;
	}

	h1 {
		margin-top: 45px;
		margin-bottom: 45px;
		font-size: 2.2em;
		font-family: 'Viga', sans-serif;
	}

	main { 
		padding-top: 40px;
		padding-left: 15%;
		padding-right: 15%;
	}

	li {
		text-align: left;
		padding-left: 22%;
	}

	#menuButton {
		display: none;
	}

	.icon-bar > img {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (max-width: 1268px) {
	.container {
		display: grid;
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: auto 1fr 100px;
		grid-template-areas: 
			"header header header"
			". main ."
			". footer .";
	}

	header {
		grid-area: header;
		align-self: center;
		background: #432E41;
		color: #F5F5F5;
		padding-top: 30px;
		text-align: center;
		padding-bottom: 30px;
		border-bottom: 4px solid #27D0B9;
	}

	h1 {
		font-size: 2.2em;
		font-family: 'Viga', sans-serif;
	}

	main { 
		margin-top: 20px;
	}

	aside {
		display: none;
	}

	li {
		text-align: center;
	}

	#menuButton {
		background: none;
		outline: none;
		border: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		cursor: pointer;
		padding-top: 3px;
		border: 1px solid #432E41;
	}

	#menuButton > img {
		height: 30px;
	}
}

@media screen and (max-width: 600px) {
	.icon-bar > img {
		padding-left: 40px;
		padding-right: 40px;
	}
}

h3 {
	font-family: 'Cantarell', sans-serif;
	color: #CCCCCC;
}

h5 {
	font-family: 'Cantarell', sans-serif;
}

main {
	grid-area: main;
	line-height: 1.6;
}

.icon-bar {
	text-align: center;
	background: #CCCCCC;
}

.icon-bar > img {
	margin: 50px;
	height: 60px;
}

#plusIcon {
	height: 25px!important;
	margin-bottom: 65px!important;
}

p {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1.3em;
	font-family: 'Cantarell', sans-serif;
}

p > a {
	color: #EB524A;
}

p > a:visited {
	color: #27D0B9;
}

ul {
	list-style: none;
}

li {
	margin-top: 25px;
	line-height: 2.4;
	font-size: 1.7em;
	color: #FFFFFF;
	font-family: 'Cantarell', sans-serif;
}

li > a {
	color: #CCCCCC;
	text-decoration: none;
	border-bottom: 1px solid #DA5D52;
}

li > a:hover {
	color: #FFFFFF;
}

li > a:visited {
	color: #CCCCCC;
	border-bottom: 1px solid #DA5D52;
}

footer {
	grid-area: footer;
	align-self: center;
	text-align: center;
}