/*

No background images were needed in this design.
Below is an example of an implementation of this
feature:

#selector {
	background-image: url("imageurl.jpg");
}

*/

@media only screen and (max-width: 480px) {
	* {
		padding: 0;
		margin: 0;
	}

	#container	{
		display: grid;
		grid-template-areas: 
			"showcase . contact" 
			"header header header"
			"courseInfo courseInfo courseInfo"
			"contactInfo contactInfo contactInfo"
			"article article article"
			"footer footer footer";
		grid-template-columns: 1fr 70px 1fr;
		grid-template-rows: 65px 170px 1fr .7fr 1fr 100px;
		text-align: center;
	}

	#logo {
		width: 90%;
		max-width: 375px;
	}

	header {
		padding-bottom: 5%;
	}

	#contact {
		padding-top: 12%;
	}

	#showcase {
		padding-top: 12%;
	}

	#contactInfo {
		line-height: 3.2;
		align-self: center;
	}

	#courseInfo {
		padding: 5%;
		line-height: 2.5;
	}

	article {
		display: grid;
		grid-template-columns: 110px 1fr 50px;
		grid-template-rows: 100px 1fr;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader"
			"userImage articleText .";
		text-align: right;
	}

	footer {
		grid-area: footer;
		align-self: center;
		font-size: .6em;
		padding: 1%;
		line-height: 1.5;
	}

	#showcaseUnderline {
		margin-left: 13%;
		margin-right: 13%;
	}

	#contactUnderline {
		margin-left: 18%;
		margin-right: 18%;
	}

	#showcaseNavText {
		font-size: 1em;
		font-family: Helvetica;
		color: #000000;
	}

	#contactNavText {
		font-size: 1em;
		font-family: Helvetica;
		color: #000000;
	}

	#userImage {
		width: 100px;
		padding-bottom: 10%;
		padding-left: 20%;
	}

	#usersNav {
		width: 30px;
		vertical-align: middle;
		padding-bottom: 5px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	* {
		padding: 0;
		margin: 0;
	}

	#container {
		display: grid;
		grid-template-columns: 9% 1fr 28% 1fr 9%;
		grid-template-rows: 70px 175px 1fr .7fr 1fr 100px;
		grid-template-areas: 
	 		".  showcase . contact ." 
			"header header header header header"
			"courseInfo courseInfo courseInfo courseInfo courseInfo"
			"contactInfo contactInfo contactInfo contactInfo contactInfo"
			"article article article article article"
			"footer footer footer footer footer";
		text-align: center;
	}

	#logo {
		width: 90%;
		max-width: 375px;
	}

	header {
		padding-bottom: 5%;
	}

	#contact {
		padding-top: 12%;
	}

	#showcase {
		padding-top: 12%;
	}

	#contactInfo {
		line-height: 3.2;
		align-self: center;
	}

	#courseInfo {
		padding: 5%;
		line-height: 2.5;
	}

	article {
		display: grid;
		grid-template-columns: 110px 1fr 50px;
		grid-template-rows: 100px 1fr;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader"
			"userImage articleText .";
		text-align: right;
	}

	footer {
		grid-area: footer;
		align-self: center;
		font-size: .6em;
		padding: 1%;
		line-height: 1.5;
	}

	#showcaseUnderline {
		margin-left: 13%;
		margin-right: 13%;
	}

	#contactUnderline {
		margin-left: 18%;
		margin-right: 18%;
	}

	#showcaseNavText {
		font-size: 1em;
		font-family: Helvetica;
		color: #000000;
	}

	#contactNavText {
		font-size: 1em;
		font-family: Helvetica;
		color: #000000;
	}

	#userImage {
		width: 100px;
		padding-bottom: 10%;
		padding-left: 20%;
	}

	#usersNav {
		width: 30px;
		vertical-align: middle;
		padding-bottom: 5px;
	}

}

@media only screen and (min-width: 769px) {
	#container {
		display: grid;
		grid-template-columns: 10% 40% 40% 10%;
		grid-template-rows: 75px 200px 255px 1fr 150px;
		grid-template-areas: 
	 		". header contact ." 
			". header contactInfo ."
			". showcase courseInfo ."
			". article article ."
			". footer footer .";
		text-align: center;
	}

	header {
		text-align: left;
	}

	#contact {
		padding-top: 5%;
		padding-left: 65%;
		padding-right: 2%;
		text-align: right !important;
	}

	#showcase {
		align-self: center;
	}

	#contactInfo {
		text-align: right !important;
		padding-right: 2%;
	}

	#courseInfo {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#logo {
		width: 80%;
		max-width: 475px;
	}

	#showcaseUnderline {
		margin-left: 40%;
		margin-right: 40%;
	}

	#contactUnderline {
		margin-left: 60%;
	}

	article {
		display: grid;
		grid-template-columns: 20% 200px 1fr 20%;
		grid-template-rows: 190px 1fr;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader articleHeader"
			". userImage articleText .";
		text-align: right;
	}

	footer {
		grid-area: footer;
		align-self: center;
		font-size: .9em;
		line-height: 1.7;
	}

	footer > p > a {
		text-decoration: underline;
		color: black;
	}

	#articleHeader {
		font-size: 2em;
	}

	#articleText {
		font-size: 1.3em;
	}

	#userImage {
		width: 175px;
		padding-bottom: 10%;
		padding-left: 20%;
	}

	#showcaseNavText {
		font-size: 1.6em;
		font-family: Helvetica;
		color: #000000;
	}

	#contactNavText {
		font-size: 1em;
		font-family: Helvetica;
		color: #000000;
	}

	#usersNav {
		width: 45px;
		vertical-align: middle;
		padding-bottom: 10px;
	}

}

header {
	grid-area: header;
}

#showcase {
	grid-area: showcase;
}

#contact {
	grid-area: contact;
}

#contactInfo {
	grid-area: contactInfo;
}

#courseInfo {
	grid-area: courseInfo;
	align-self: center;
	background: #F1B82E;
	font-family: Helvetica;
}

.light-text {
	font-weight: 300;
}

.bold-text {
	font-family: 'Archivo Black', sans-serif;
	font-weight: 100;
}

article {
	grid-area: article;
	align-self: center;
	background: #000000;
	color: #F1B82E;
	padding-top: 8%;
	padding-bottom: 8%;
	text-align: right;
}

footer {
	grid-area: footer;
	align-self: center;
}

#envelopeNav {
	width: 30px;
	vertical-align: middle;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
}

p {
	font-family: Helvetica;
}

.quote {
	font-weight: 600;
	padding: 5px;
}

.author {
	text-align: right;
	line-height: 2.5;
}

#articleHeader {
	grid-area: articleHeader;
	text-align: center;
}

#articleText {
	grid-area: articleText;
	line-height: 1.2;
}

#showcaseUnderline {
	border: 1.5px solid #F1B82E;
}

#contactUnderline {
	border: 1.5px solid #F1B82E;
}

#brackets {
	font-size: 3em;
}

#linkImage {
	width: 25px;
	vertical-align: middle;
}

#envelopeImage {
	width: 25px;
	vertical-align: middle;
}

#phoneImage {
	width: 15px;
	vertical-align: middle;
	padding-bottom: 4px;
}

#userImage {
	grid-area: userImage;
}