* {
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 480px) {
	#container	{
		display: grid;
		grid-template-columns: 1fr 100px 1fr;
		grid-template-rows: 200px 200px 200px 200px 200px 200px;
		grid-template-areas: 
			"showcase . contact"
			"header header header"
			"courseInfo courseInfo courseInfo"
			"contactInfo contactInfo contactInfo"
			"article article article"
			"footer footer footer";
		text-align: center;
		color: red;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#container	{
		display: grid;
		grid-template-columns: 1fr 100px 1fr;
		grid-template-rows: 200px 200px 200px 200px 200px 200px;
		grid-template-areas: 
			"header . contact"
			"header . showcase"
			"courseInfo courseInfo courseInfo"
			"contactInfo contactInfo contactInfo"
			"article article article"
			"footer footer footer";
		text-align: center;
		color: green;
	}
}

@media screen and (min-width: 769px) {
	#container	{
		display: grid;
		grid-template-columns: 1fr 100px 1fr;
		grid-template-rows: 200px 200px 200px 200px 200px 200px;
		grid-template-areas: 
			"header . contact"
			"header . showcase"
			"courseInfo . contactInfo"
			"courseInfo . contactInfo"
			"article article article"
			"footer footer footer";
		text-align: center;
		color: black;
	}
}

#contact {
	grid-area: contact;
}

#showcase {
	grid-area: showcase;
}

header {
	grid-area: header;
}

#courseInfo {
	grid-area: courseInfo;
}

#contactInfo {
	grid-area: contactInfo;
}

article {
	grid-area: article;
}

footer {
	grid-area: footer;
}

