@media only screen and (max-width: 480px) {
	* {
		padding: 0;
		margin: 0;
	}

	#container {
		display: grid;
		grid-template-rows: 70px auto 1fr auto 100px;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"header"
			"article"
			"samples"
			"resources"
			"footer";
	}

	header {
		align-self: center;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 25% 50% 25%;
		grid-template-areas: "logo title hamburger";
		text-align: center;
	}

	#logo {
		grid-area: logo;
		border-right: 2px solid #F1B82E;
	}

	#logoImage {
		vertical-align: middle;
	}

	#title {
		grid-area: title;
		align-self: center;
		padding-top: 2px;
	}

	#contactInfo {
		display: none;
	}

	#hamburger {
		grid-area: hamburger;
		text-align: center;
		border-left: 2px solid #F1B82E;
		vertical-align: middle;
	}

	#hamburgerImage {
		vertical-align: middle;
		width: 50%;
		padding: 10%;
	}

	article {
		display: grid;
		grid-template-columns: 110px 1fr 15px;
		grid-template-rows: 100px 1fr;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader"
			"userImage articleText .";
		color: #F1B82E;
		background: #000000;
		align-self: center;
	}

	#articleHeader {
		grid-area: articleHeader;
		text-align: center;
		font-family: 'Archivo Black', sans-serif;
		padding-top: 7%;
		font-size: 1.3em;
		font-weight: 100;
	}

	#userImage {
		grid-area: userImage;
		width: 70px;
		padding-top: 35%;
		padding-left: 20%;
	}

	#articleText {
		grid-area: articleText;
		padding-bottom: 12%;
	}

	footer {
		align-self: center;
		font-size: .6em;
		padding: 1%;
		line-height: 1.5;
		text-align: center;
	}

	#resources {
		grid-area: resources;
		text-align: center;
		font-family: Helvetica;
		background: #F1B82E;
		padding-top: 8%;
		margin-top: 4%;
		padding-bottom: 6%;
	}

	#titleText {
		font-size: 1.7em;
		font-family: 'Helvetica';
		font-weight: 600;
	}

	#linkImage {
		width: 25px;
		vertical-align: middle;
	}

	#envelopeImage {
		width: 25px;
		vertical-align: middle;
	}

	#phoneImage {
		width: 15px;
		vertical-align: middle;
		padding-bottom: 4px;
	}

	section > h2 {
		border-bottom: 2px solid #F1B82E;
		display: inline-block;
		padding-bottom: 1%;
		margin-left: 4%;
		margin-top: 5%;
		font-family: 'Helvetica';
		font-weight: 400;
	}

	section > p {
		padding-top: 3%;
		margin-left: 4%;
		width: 70%;
		display: inline-block;
		padding-bottom: 2%;
	}

	#brackets {
		font-size: 3em;
		font-weight: 300;
		text-align: center;
		padding-top: 8%;
	}

	#resources > p {
		line-height: 2;
	}

	#resources > p > a {
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}

	.link-icon {
		width: 35px;
		vertical-align: middle;
	}

	.link-box {
		margin-top: 2%;
		border: 2px solid #F1B82E;
		display: inline;
		float: right;
		margin-right: 5%;
	}

	#students {
		display: none;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	* {
		margin: 0;
		padding: 0;
	}

	#container {
		display: grid;
		grid-template-rows: 110px auto 1fr auto 110px;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"header"
			"article"
			"samples"
			"resources"
			"footer";
	}

	header {
		align-self: center;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 25% 50% 25%;
		grid-template-areas: "logo title hamburger";
		text-align: center;
	}

	#logo {
		grid-area: logo;
		border-right: 2px solid #F1B82E;
	}

	#logoImage {
		vertical-align: middle;
	}

	#title {
		grid-area: title;
		align-self: center;
		padding-top: 2px;
	}

	#contactInfo {
		display: none;
	}

	#hamburger {
		grid-area: hamburger;
		text-align: center;
		border-left: 2px solid #F1B82E;
		vertical-align: middle;
	}

	#hamburgerImage {
		vertical-align: middle;
		width: 45%;
		padding: 10%;
	}

	article {
		display: grid;
		grid-template-columns: 150px 1fr 65px;
		grid-template-rows: 100px 1fr;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader"
			"userImage articleText .";
		color: #F1B82E;
		background: #000000;
		align-self: center;
	}

	#userImageArea {
		text-align: right;
	}

	#articleHeader {
		grid-area: articleHeader;
		text-align: center;
		font-family: 'Archivo Black', sans-serif;
		padding-top: 7%;
		font-size: 1.3em;
		font-weight: 100;
	}

	#userImage {
		grid-area: userImage;
		width: 70px;
		padding-right: 15%;
	}

	#articleText {
		grid-area: articleText;
		padding-bottom: 12%;
	}

	footer {
		align-self: center;
		font-size: .8em;
		padding: 1%;
		line-height: 1.5;
		text-align: center;
	}

	#resources {
		grid-area: resources;
		text-align: center;
		font-family: Helvetica;
		background: #F1B82E;
		padding-top: 8%;
		margin-top: 4%;
		padding-bottom: 6%;
	}

	#titleText {
		font-size: 2.5em;
		font-family: 'Helvetica';
		font-weight: 600;
	}

	#linkImage {
		width: 25px;
		vertical-align: middle;
	}

	#envelopeImage {
		width: 25px;
		vertical-align: middle;
	}

	#phoneImage {
		width: 15px;
		vertical-align: middle;
		padding-bottom: 4px;
	}

	section > h2 {
		border-bottom: 2px solid #F1B82E;
		display: inline-block;
		padding-bottom: 1%;
		margin-left: 13%;
		margin-top: 5%;
		font-family: 'Helvetica';
		font-weight: 400;
	}

	#samples > section > p {
		padding-top: 3%;
		width: 60%;
		display: inline-block;
		padding-bottom: 2%;
		padding-left: 10%;
	}

	#sample3 > ul > li {
		padding-left: 3%;
	}

	#brackets {
		font-size: 3em;
		font-weight: 300;
		text-align: center;
		padding-top: 8%;
	}

	#resources > p {
		line-height: 2.5;
	}

	#resources > p > a {
		padding-left: 20px;
		padding-right: 20px;
		display: inline-block;
		font-size: 1.2em;
	}

	#resources > h3 {
		font-size: 1.4em;
		margin-bottom: 4%;
	}

	.link-icon {
		width: 35px;
		vertical-align: middle;
	}

	.link-box {
		margin-top: 2%;
		border: 2px solid #F1B82E;
		display: inline;
		float: right;
		margin-right: 10%;
	}

	#students {
		display: none;
	}
}

@media only screen and (min-width: 769px) {
	* {
		padding: 0;
		margin: 0;
	}

	#container {
		display: grid;
		grid-template-rows: 180px auto auto auto 150px;
		grid-template-columns: 9% 300px auto 9%;
		grid-template-areas: 
			". header header ."
			". students article ."
			". students samples ."
			". resources samples ."
			". footer footer .";
	}

	header {
		align-self: center;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 25% 50% 30%;
		grid-template-areas: "logo title contactInfo";
		text-align: center;
	}

	#students {
		grid-area: students;
		background: #F1B82E;
		font-size: 1.5em;
		font-family: 'Helvetica';
		font-weight: 600;
		line-height: 2.1;
		padding-top: 11%;
		padding-bottom: 11%;
	}

	#students > ul > li {
		width: 80%;
	}

	#logo {
		grid-area: logo;
	}

	#logoImage {
		vertical-align: middle;
	}

	#title {
		grid-area: title;
		align-self: center;
		padding-top: 2px;
	}

	#titleText {
		font-size: 5em;
		font-family: 'Helvetica';
		font-weight: 400;
	}

	#contactInfo {
		grid-area: contactInfo;
		padding-top: 25px;
		line-height: 2.7;
	}

	article {
		display: grid;
		grid-template-columns: 30% auto 20%;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"articleHeader articleHeader articleHeader"
			"userImage articleText .";
		color: #F1B82E;
		background: #000000;
		align-self: center;
	}

	#articleHeader {
		grid-area: articleHeader;
		text-align: center;
		font-family: 'Archivo Black', sans-serif;
		padding-top: 7%;
		padding-bottom: 4%;
		font-size: 1.7em;
		font-weight: 100;
	}

	#userImage {
		grid-area: userImage;
		width: 120px;
		vertical-align: middle;
		padding-right: 10%;
	}

	#articleText {
		grid-area: articleText;
		padding-bottom: 12%;
		font-size: 1.1em;
		font-style: italic;
	}

	footer {
		align-self: center;
		font-size: .9em;
		padding: 1%;
		line-height: 1.5;
		text-align: center;
	}

	#resources {
		grid-area: resources;
		text-align: center;
		font-family: Helvetica;
		background: #F1B82E;
		padding-top: 8%;
		padding-bottom: 6%;
		border-top: 3px solid black;
	}

	#contactInfo > p {
		font-size: .8em;
	}

	#linkImage {
		width: 20px;
		vertical-align: middle;
	}

	#envelopeImage {
		width: 20px;
		vertical-align: middle;
	}

	#phoneImage {
		width: 10px;
		vertical-align: middle;
		padding-bottom: 4px;
	}

	section > h2 {
		border-bottom: 2px solid #F1B82E;
		display: inline-block;
		padding-bottom: 1%;
		margin-left: 18%;
		margin-top: 5%;
		font-family: 'Helvetica';
		font-weight: 400;
	}

	#samples > section > p {
		padding-top: 3%;
		margin-left: 4%;
		width: 60%;
		display: inline-block;
		padding-bottom: 2%;
		padding-left: 10%;
	}

	#brackets {
		font-size: 4em;
		font-weight: 300;
		text-align: center;
		padding-top: 8%;
		margin-bottom: 2%;
	}

	#sample3 > ul > li {
		padding-left: 8%;
	}

	#resources > p {
		line-height: 2.5;
	}

	#resources > p > a {
		padding-left: 10px;
		padding-right: 10px;
		display: block;
	}

	#resources > h3 {
		font-size: 1.4em;
		margin-bottom: 4%;
	}

	.link-icon {
		width: 45px;
		vertical-align: middle;
	}

	.link-box {
		margin-top: 2%;
		border: 2px solid #F1B82E;
		display: inline;
		float: right;
		margin-right: 15%;
	}

	#userImageArea {
		text-align: right;
	}
}

header {
	grid-area: header;
}

article {
	grid-area: article;
}


#samples {
	grid-area: samples;
}

footer {
	grid-area: footer;
}

aside {
	display: none;
	grid-area: aside;
	background: #F1B82E;
	height: 100%;
	overflow: auto;
}

aside > ul > li {
	font-family: 'Helvetica';
	font-size: 1.5em;
	display: block;
	margin-top: 6%;
	margin-bottom: 6%;
	width: 80%;
}

button {
	background: none;
	border: none;
	outline: none;
}

a {
	color: black;
}

p {
	font-family: Helvetica;
}

.quote {
	font-weight: 600;
	padding: 5px;
}

ul {
	list-style-type: square;
	display: inline;
	width: 70%;
}

li {
	font-family: Helvetica;
	margin-left: 10%;
	width: 70%;
}

#navIconArea {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

#navIcon {
	width: 30%;
}

#userImageArea {
	display: inline-block;
}

ul {
	list-style-type: none;
}

.active {
	text-decoration: none;
}

.active-line {
	border-bottom: 2px solid white;
	border-right: 6px solid black;
}

#closeArea {
	margin-top: 12%;
	text-align: center;
	margin-bottom: 10%;
}

#closeButton {
	font-size: 2.5em;
	font-family: 'Archivo Black', sans-serif;
}
