* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
}

@media screen and (max-width: 800px) {

	aside {
		border-bottom: 4px solid #27D0B9;
	}

	main {
		display: grid;
		grid-template-rows: auto 1fr 100px;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"aside"
			"lyrics"
			"footer";
	}

	#player {
		display: none;
		background: #CCCCCC;
		font-family: 'Cantarell', sans-serif;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: 
			"coverArt  playerButtons playerButtons"
			"songTitleArea songTitleArea songTitleArea"
			"playlistArea playlistArea playlistArea";
	}

	#lyrics {
		min-height: 600px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		margin-bottom: 50px;
		font-family: 'Cantarell', sans-serif;
	}

	#lyrics > h2 {
		display: none;
	}

	#lyrics > h5 {
		text-align: center;
		margin-bottom: 30px;
	}

	#lyrics > p {
		line-height: 1.5;
	}

	#lyrics > a {
		color: #EB524A;
		display: block;
		text-align: center;
	}

	#lyrics > a:visited {
		color: #27D0B9;
	}

	#coverArt > img {
		max-height: 100px;
	}

	#songTitleArea {
		align-self: center;
	}

	#playlist {
		display: none;
	}

	#playlistArea {
		background: #432E41;
	}

	h4 {
		margin-bottom: 10px;
	}

	#addMore {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 5px;
		background: none;
		cursor: pointer;
		border: none;
		outline: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h6 {
		font-size: 1.2em;
		color: #CCCCCC;
	}

	#playerButtons > button {
		margin-left: 10%;
		margin-right: 10%; 
	}

	#tracks > button {
		border: none;
		outline: none;
		padding: 5px;
		margin: 15px;
		background: transparent;
		font-size: 1.1em;
		cursor: pointer;
		color: #FFF;
	}

}

aside {
	grid-area: aside;
	background: #432E41;
}

#lyrics {
	grid-area: lyrics;
	background-repeat: all;
	background-position: center;
	background-blend-mode: saturation;
}

footer {
	grid-area: footer;
	font-family: 'Cantarell', sans-serif;
	align-self: center;
}

#searchArea {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.feedback-icon {
	height: 34px;
	background: #CCCCCC;
	padding: 5px;
	border-radius: 50px;
}

#soundcloud {
	opacity: .3;
}

#musixmatch {
	opacity: .3;
}

#feedbackArea > img {
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 20px;
}

#feedbackArea {
	margin-bottom: 20px;
}

input {
	padding: 10px;
	font-size: 1.3em;
	font-family: 'Viga', sans-serif;
	color: #432E41;
	background: #FFFFFF;
	border: 2px solid #DA5D52;
	border-radius: 60px;
	outline: none;
	text-indent: 20px;
	padding-right: 45px;
	width: 250px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#searchTermButton {
	padding: 11px;
	background: #DA5D52;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	outline: none;
	border: none;
	margin-left: -40px;
	padding-top: 9px;
	padding-bottom: 17px;
}

#searchTermButton:hover {
	box-shadow: 2px 1px 5px #000000;
}

#searchTermButton:active {
	box-shadow: none;
}

#searchTermButton > img {
	height: 24px;
}

#coverArt {
	grid-area: coverArt;
}

#coverArt > img {
	margin: 5px;
	box-shadow: 2px 2px 2px #000000;
}

#songTitleArea {
	grid-area: songTitleArea;
}

h4 {
	font-family: 'Cantarell', sans-serif;
	color: #432E41;
	font-size: 1.4em;
}

#playlistArea {
	grid-area: playlistArea;
}

#playerButtons {
	grid-area: playerButtons;
	align-self: center;
}

#playerButtons > button {
	padding: 5px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

#playerButtons > button > img {
	height: 35px;
	vertical-align: middle;
	background: transparent;
	-webkit-filter: drop-shadow(5px 5px 3px #000);
    filter:         drop-shadow(5px 5px 3px #000); 
}

#playerButtons > button > img:active {
	filter: none;
	-webkit-filter: none;
}

#menuCollapse {
	background: none;
	outline: none;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	padding-top: 3px;
	border: 1px solid #432E41;
}

#menuCollapse > img {
	height: 30px;
}

.center {
	text-align: center;
}